<section class="about" id="about">
    <div class="about__content">
        <div class="about__text-block">
            <h3>
                О мероприятии
            </h3>
            <p>
                Соревнование LetaiRacing 2023 в категории JetRacer проводится в рамках Международной выставки Kazan
                Digital Week.
            </p>
            <p>
                Для всех, кто увлекается Робототехникой и Искусственным Интеллектом.
            </p>
        </div>
        <div class="about__letai-racing">
            <img src="/images/letai-racing-large.webp" alt="" class="about__letai-racing-image">
        </div>
        <div class="about__letai">
            <img src="/images/letai.svg" alt="" class="about__letai-image">
        </div>
        <div class="about__text-block">
            <h3>
                Организатор
            </h3>
            <p>
                Летай - крупнейший
                в Республике Татарстан оператор связи.
            </p>
        </div>
    </div>
</section>