<section class="competitions" id="competitions">
    <div class="competitions__content">
        <h2 class="competitions__heading">
            Соревновательные направления
        </h2>
        <ul class="competitions__list">
            <li class="competitions__list-item">
                <div class="competitions__card">
                    <div class="competitions__card-icon-container">
                        <img src="/images/competitions/1.svg" alt="" class="competitions__card-icon">
                    </div>
                    <h4 class="competitions__card-title">
                        Скоростное прохождение
                    </h4>
                </div>
            </li>
            <li class="competitions__list-item">
                <div class="competitions__card">
                    <div class="competitions__card-icon-container">
                        <img src="/images/competitions/2.svg" alt="" class="competitions__card-icon">
                    </div>
                    <h4 class="competitions__card-title">
                        Обгон
                    </h4>
                </div>
            </li>
            <li class="competitions__list-item">
                <div class="competitions__card">
                    <div class="competitions__card-icon-container">
                        <img src="/images/competitions/3.svg" alt="" class="competitions__card-icon">
                    </div>
                    <h4 class="competitions__card-title">
                        Объезд
                        препятствий
                    </h4>
                </div>
            </li>
        </ul>
        <a href="#" class="competitions__reglament-link">
            РЕГЛАМЕНТ СОРЕВНОВАНИЙ
        </a>
    </div>
</section>