<section class="competencies" id="competence">
    <div class="competencies__bg">
        <img src="/images/competencies-bg.webp" alt="" class="competencies__bg-image">
    </div>
    <div class="competencies__content">
        <h2 class="competencies__heading">
            Основные компетенции
        </h2>
        <div class="competencies__text">
            Участники работают с ключевыми технологиями искусственного интеллекта
        </div>
        <ul class="competencies__list">
            <li class="competencies__list-item">
                <div class="competencies__card">
                    <div class="competencies__card-icon-container">
                        <img src="/images/competencies/1.svg" alt="" class="competencies__card-icon">
                    </div>
                    <h3 class="competencies__card-title">
                        компьютерное 
                        зрение
                    </h3>
                </div>
            </li>
            <li class="competencies__list-item">
                <div class="competencies__card">
                    <div class="competencies__card-icon-container">
                        <img src="/images/competencies/2.svg" alt="" class="competencies__card-icon">
                    </div>
                    <h3 class="competencies__card-title">
                        нейронные
                        сети
                    </h3>
                </div>
            </li>
            <li class="competencies__list-item">
                <div class="competencies__card">
                    <div class="competencies__card-icon-container">
                        <img src="/images/competencies/3.svg" alt="" class="competencies__card-icon">
                    </div>
                    <h3 class="competencies__card-title">
                        методы
                        машинного обучения
                    </h3>
                </div>
            </li>
            <li class="competencies__list-item">
                <div class="competencies__card">
                    <div class="competencies__card-icon-container">
                        <img src="/images/competencies/4.svg" alt="" class="competencies__card-icon">
                    </div>
                    <h3 class="competencies__card-title">
                        системы
                        принятия решений
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</section>