<footer class="page-footer">
    <div class="page-footer__inner">
        <div class="page-footer__top-row">
            <a href="#" class="page-footer__letai-racing">
                <img src="/images/letai-racing-white.webp" alt="" class="page-footer__letai-racing-image">
            </a>
            <a href="#" class="page-footer__letai">
                <img src="/images/letai-white.svg" alt="" class="page-footer__letai-image">
            </a>
            <a href="#" class="page-footer__digital-week">
                <img src="/images/digital-week-white.svg" alt="" class="page-footer__digital-week-image">
            </a>
        </div>
        <div class="page-footer__bottom-row">
            <nav class="page-footer__nav">
                <ul>
                    <li>
                        <a href="#">
                            О мероприятии
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Соревновательные направления
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Для кого
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Призовой фонд
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Почему ии
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Локация
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="page-footer__policy">
                Политика Конфиденциальности
            </a>
            <a href="#" class="page-footer__register">
                Регистрация
            </a>
        </div>
    </div>
</footer>