<section class="location">
    <div class="location__content">
        <h2 class="location__heading">
            Локация
        </h2>
        <div class="location__row">
            <div class="location__map">
                <img src="/images/location-map.jpg" alt="" class="location__map-image">
            </div>
            <div class="location__text-content">
                <img src="/images/digital-week-white.svg" alt="" class="location__digital-week">
                <div class="location__name">
                    Казань Экспо
                </div>
                <div class="location__date">
                    20 сентября
                </div>
            </div>
        </div>
    </div>
</section>