<section class="prizes" id="prizes">
    <div class="prizes__bg">
        <img src="/images/prizes-bg.webp" alt="" class="prizes__bg-image">
    </div>
    <div class="prizes__content">
        <h2 class="prizes__heading">
            Призовой фонд
        </h2>
        <div class="prizes__items">
            <div class="prizes__item">
                <div class="prizes__item-place">
                    1
                </div>
                500.000₽
            </div>
            <div class="prizes__item">
                <div class="prizes__item-place">
                    2
                </div>
                300.000₽
            </div>
            <div class="prizes__item">
                <div class="prizes__item-place">
                    3
                </div>
                200.000₽
            </div>
            <div class="prizes__merch">
                МЕРЧ
            </div>
        </div>
    </div>
</section>