<section class="prizes" id="prizes">
    <div class="prizes__bg">
        <img src="/images/prizes-bg.webp" alt="" class="prizes__bg-image">
    </div>
    <div class="prizes__content">
        <h2 class="prizes__heading">
            Призовой фонд
        </h2>
        <div class="prizes__items">
            <div class="prizes__item">
                <div class="prizes__item-terms">
                    Обгон
                </div>
                400.000₽
            </div>
            <div class="prizes__item">
                <div class="prizes__item-terms">
                    Скоростное прохождение
                </div>
                300.000₽
            </div>
            <div class="prizes__item">
                <div class="prizes__item-terms">
                    объезд препятствий
                </div>
                300.000₽
            </div>
            <div class="prizes__merch">
                МЕРЧ
            </div>
        </div>
    </div>
</section>