<section class="racing" id="why">
    <div class="racing__bg">
        <img src="/images/racing-bg.webp" alt="" class="racing__bg-image">
    </div>
    <div class="racing__content">
        <div class="racing__text-block">
            <h2 class="racing__heading">
                <em>Letai</em>Racing 2023
            </h2>
            <div class="racing__text">
                Почему ИИ? Применение искусственного интеллекта все глубже проникает в жизнь каждого из нас, но в то же
                время ИИ все еще остается сложным и непонятным для широкой аудитории.
            </div>
        </div>
        <img src="/images/racing/1.webp" alt="" class="racing__image">
        <img src="/images/racing/2.webp" alt="" class="racing__image">
        <div class="racing__text-block">

            <div class="racing__text">
                Почему беспилотные автомобили? Мы видим, что на рынке есть аппаратные решения для беспилотных
                автомобилей, но вопрос необходимого ПО до конца не решен, даже не смотря на доступность большого
                количества библиотек и доступных одноплатных компьютеров.
            </div>
        </div>
        <div class="racing__text-block">
            <div class="racing__text">
                Почему LetaiRacing? Мы взяли на себя расходы на приобретение 10 roboracer и, в рамках подготовки к
                мероприятию, проведем серию обучающих вебинаров. Таким образом мы хотим снизить порог вхождения для
                изучения таких новейших технологий как искусственный интеллект, делая его более доступным.
            </div>
        </div>
        <img src="/images/racing/3.webp" alt="" class="racing__image">
    </div>
</section>