.racing {
  display: grid;
  grid-template-columns:
    [main-start] 1fr [content-start] minmax(0, var(--container-width, 0))
    [content-end] 1fr [main-end];
  grid-gap: var(--content-padding, 0);
}

.racing__bg {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.racing__bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.racing__content {
  grid-column-start: content-start;
  grid-column-end: content-end;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 3rem;
  align-items: center;
  grid-row-gap: 1rem;
  z-index: 5;
  padding: 3.5rem 0;
  padding-top: 1.5rem;

  @include breakpoint(mobile) {
    padding: 3rem 0;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 3rem;
  }
}

.racing__text-block {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @include breakpointMF(small-tablet) {
    &:nth-of-type(2) {
      align-self: center;
    }
  }

  @include breakpoint(mobile) {
    gap: 2rem;
  }
}

.racing__heading {
  font-size: 4.8rem;
  font-weight: 700;
  em {
    font-style: normal;
    color: var(--primary-color);
  }

  @include breakpoint(mobile) {
    font-size: 4rem;
    line-height: 1.2;
  }
}

.racing__text {
  // text-align: justify;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 110%;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
  }
}

.racing__image {
  @include breakpointMF(small-tablet) {
    justify-self: center;
    align-self: center;
    &:nth-of-type(1) {
      width: 28.5rem;
    }
    &:nth-of-type(2) {
      width: 25.4rem;
    }
    &:nth-of-type(3) {
      width: 20.8rem;
    }
  }

  @include breakpoint(mobile) {
    justify-self: center;
    max-width: 60%;
  }
}
